modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
ADMIN_SECRET = "admin"
RD_STATION_CLIENT_ID = "c43d45cb-0a80-40cf-8b75-873b93e8128a"
RD_STATION_CLIENT_SECRET = "992a9650c8ff40879f2834237d66ce33"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
